.title {
    text-align: center;
}
.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.landscape {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}